---
import { getCollection } from "astro:content";
import PreviewCard from "../cards/PreviewCard.astro";

const latestPosts = (await getCollection("blog"))
    .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
    .slice(0, 3);
---

<section>
    <h1 class="text-[clamp(2.75rem,13vw,6rem)] font-extrabold leading-none lg:text-8xl">DESIGN</h1>
    <h1 class="text-[clamp(2.75rem,13vw,6rem)] font-extrabold leading-none text-white/20 lg:text-8xl">THOUGHTS</h1>

    <div class="mt-10 space-y-4">
        {
            latestPosts.map((post) => (
                <PreviewCard
                    href={`/blog/${post.slug}/`}
                    title={post.data.title}
                    description={post.data.description}
                    meta={post.data.pubDate.toDateString()}
                />
            ))
        }
    </div>
</section>

