---
import { getCollection } from "astro:content";

const latestPosts = (await getCollection("blog"))
    .sort((a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime())
    .slice(0, 3);
---

<section>
    <h1 class="text-8xl font-extrabold">DESIGN</h1>
    <h1 class="text-8xl font-extrabold text-white/20">THOUGHTS</h1>

    <div class="mt-10 space-y-4">
        {
            latestPosts.map((post) => (
                <a
                    href={`/blog/${post.slug}/`}
                    class="group relative block rounded-xl px-6 py-7 transition-colors hover:bg-white/2"
                >
                    <div class="pr-10">
                        <h2 class="text-2xl font-bold leading-tight text-white">
                            {post.data.title}
                        </h2>
                    </div>

                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        focusable="false"
                        viewBox="0 0 24 24"
                        color="var(--token-733bbd01-4431-42a0-b8b0-48fb9de5f3db, rgb(244, 108, 56))"
                        class="absolute right-6 top-7 h-5 w-5"
                        style="user-select: none; fill: var(--token-733bbd01-4431-42a0-b8b0-48fb9de5f3db, rgb(244, 108, 56)); flex-shrink: 0; transform: rotate(-45deg);"
                    >
                        <path d="M15 5l-1.41 1.41L18.17 11H2v2h16.17l-4.59 4.59L15 19l7-7-7-7z" />
                    </svg>

                    <p class="mt-4 max-w-2xl text-white/60 leading-[1.35]">
                        {post.data.description}
                    </p>

                    <p class="mt-8 text-white/60">{post.data.pubDate.toDateString()}</p>
                </a>
            ))
        }
    </div>
</section>


