---
import PreviewCard from "../cards/PreviewCard.astro";
---

<section>
    <h1 class="text-8xl font-extrabold">RECENT</h1>
    <h1 class="text-8xl font-extrabold text-white/20">EXPERIENCE</h1>

    <div class="mt-10 space-y-4">
        <PreviewCard
            title="B.S. Software Engineering | Arizona State University"
            description="Ira A. Fulton Schools of Engineering"
            meta="GPA: Cum Laude | Aug 2022 - May 2026"
            href="https://www.linkedin.com/in/carsen-a-/#:~:text=Negotiations%20and%20C%23-,Education,-Ira%20A.%20Fulton"
        />

        <PreviewCard
            title="Undergraduate Teaching Assistant | Web Development"
            description="Assisted teaching a senior-level web development course by creating a security lab walkthrough video that helped 81 students complete the assignment. Supported students by answering 50+ forum questions, hosting biweekly office hours for GraphQL and REST API help, and bringing in an industry guest speaker for career advice"
            meta="Arizona State University | Aug 2025 - October 2025"
            href="https://www.linkedin.com/in/carsen-a-/#:~:text=Show%20all-,Experience,-Undergraduate%20Teaching%20Assistant"
        />

        <PreviewCard
            title="Software Engineer (Game Development) Contract"
            description="Built 9 custom 2D Unity games for 26 clients, working closely with each to understand their needs and deliver what they wanted. Earned 6 five-star reviews by staying in close communication and iterating based on feedback."
            meta="Freelance | July 2020 - October 2021"
            href="https://www.linkedin.com/in/carsen-a-/#:~:text=Show%20all-,Experience,-Undergraduate%20Teaching%20Assistant"
        />
    </div>
</section>
