---
import ProjectCard from "../cards/ProjectCard.astro"
import heroProject from "../../assets/projects/hero.webp"
import cellProject from "../../assets/projects/cell.webp"
import darkProject from "../../assets/projects/dark.webp"
---

<section>
    <h1 class="text-8xl font-extrabold">RECENT</h1>
    <h1 class="text-8xl font-extrabold text-white/20">PROJECTS</h1>

    <div class="mt-10 space-y-4">
        <ProjectCard
            href="https://github.com/AsterinoCarsen/Dino"
            title="Dino"
            subtitle="Full-stack web application designed for sport climbers to track their performance."
            logo={heroProject}
        />

        <ProjectCard
            href="https://github.com/AsterinoCarsen/Cellular-Automaton"
            title="Cellular Automaton"
            subtitle="Interactive visualization of cellular automata using HTML Canvas."
            logo={cellProject}
        />

        <ProjectCard
            href="https://github.com/AsterinoCarsen/DarkOdyssey"
            title="Dark Odyssey"
            subtitle="A 2D side-scrolling platformer game built with Unity."
            logo={darkProject}
        />
    </div>
</section>
