---
import TestimonialCard from "../cards/TestimonialCard.astro"
import Testimonials from "../../content/testimonials.json"
---

<section>
    <h1 class="text-[clamp(2.75rem,13vw,6rem)] font-extrabold leading-none lg:text-8xl">SOCIAL</h1>
    <h1 class="text-[clamp(2.75rem,13vw,6rem)] font-extrabold leading-none text-white/20 lg:text-8xl">PROOF</h1>
    <div class="mt-10 space-y-4">
        {Testimonials.map((t) => (
            <TestimonialCard {...t} />
        ))}
    </div>
</section>
