---
import TestimonialCard from "../cards/TestimonialCard.astro"
import Testimonials from "../../content/testimonials.json"
---

<section>
    <h1 class="text-8xl font-extrabold">SOCIAL</h1>
    <h1 class="text-8xl font-extrabold text-white/20">PROOF</h1>
    <div class="mt-10 space-y-4">
        {Testimonials.map((t) => (
            <TestimonialCard {...t} />
        ))}
    </div>
</section>